*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(183, 209, 209);
}

img {
    width: 200px;
    display: inline-block;
    vertical-align: top;
}

ul {
    list-style: none;
}

h1,
h2 {
    color: darkblue;
    text-decoration-line: underline;
}

p,
li {
    margin: 5px 0;
    font-size: 18px;    
}

div.toolz {
    display: inline-block;
    margin: 0 5 0 0px;
    background-color: rgb(199, 233, 244);
    padding: 0 2px;
}

.card {
    width: 800px;
    background-color: rgb(237, 232, 232);
    margin: 20px;
    box-shadow: 1px 1px 4px 1px;
}

.content {
    padding: 20px;
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

.ingredients {
    margin-top: 10px;
}

a.fax {
    margin: 10px 0;
    background-color: steelblue;
    display: inline-block;
    font-weight: bolder;
    padding: 10px;
    color: black;
}




