*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    background-color: rgb(187, 66, 187);
    width: 300px;
    margin: 20px auto;
    padding: 5px;
    border: 2px solid black;
}

ul {
    font-size: 20px;
}

.cook {
    width: 250px;
    padding: 50px;
    display: block;
    padding: 20px;
    background-color: turquoise;
    border: 3px solid black;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    }
